body{
    background-color: rgb(216, 202, 187);
    text-align: center;
}

h2 {
    position: relative;
    top: 30px;
}

ul {
    position: relative;
    top: 70px;
}

h3 {
    position: relative;
    top: 70px;
}

.center {
    text-align: center;
    position: relative;
    list-style-position: inside;
}

.wrapper {
    text-align: center;
}

#hp {
    position: relative;
    top: 250px;
}