<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="memo-responsive">
      <table class="memo-table-all notranslate">
        <tbody>
          <tr>
            <th>CustomerID</th>
            <th>CustomerName</th>
            <th>ContactName</th>
            <th>Address</th>
            <th>City</th>
            <th>PostalCode</th>
            <th>Country</th>
          </tr>
          <tr>
            <td>1<br /><br /></td>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Obere Str. 57</td>
            <td>Berlin</td>
            <td>12209</td>
            <td>Germany</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Ana Trujillo Emparedados y helados</td>
            <td>Ana Trujillo</td>
            <td>Avda. de la Constitución 2222</td>
            <td>México D.F.</td>
            <td>05021</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Antonio Moreno Taquería</td>
            <td>Antonio Moreno</td>
            <td>Mataderos 2312</td>
            <td>México D.F.</td>
            <td>05023</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>4<br /><br /></td>
            <td>Around the Horn</td>
            <td>Thomas Hardy</td>
            <td>120 Hanover Sq.</td>
            <td>London</td>
            <td>WA1 1DP</td>
            <td>UK</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Berglunds snabbköp</td>
            <td>Christina Berglund</td>
            <td>Berguvsvägen 8</td>
            <td>Luleå</td>
            <td>S-958 22</td>
            <td>Sweden</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
