<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="grid-container">
      <div>
        <table class="memo-table-all notranslate">
          <tbody>
            <tr>
              <th>szam</th>
            </tr>
            <tr>
              <td>0<br /><br /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid-container">
        <div>
          <table class="memo-table-all notranslate">
            <tbody>
              <tr>
                <th>kepzet</th>
              </tr>
              <tr>
                <td>szem<br /><br /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
