body {
  background: url("https://c.wallhere.com/photos/69/65/minimalism_gradient-222218.jpg!d");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Nova Round";
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  position: relative;
  top: 6px;
  font-size: 20px;
}

p {
  font-family: "Play";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  position: relative;
  top: 4px;
}
